body {
  background-image: url("images/bg-2.png");
  background-repeat: no-repeat;
  background-position: 3% 20%;
}
.navbar img {
  height: 40px;
}
.navbar {
  background-color: rgb(165, 207, 243);
  font-weight: bold;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 5px 20px gray;
}

.slider {
  background-image: url("images/bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: aliceblue;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px gray;
}
.container {
  margin-bottom: 100px;
}
.btn {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}
.card-body {
  text-align: center;
}
.card {
  box-shadow: 10px 10px 20px gray;
  background-color: aliceblue;
}
#product h6 {
  text-align: right;
  color: orange;
  margin-bottom: 10px;
}
#product a {
  text-decoration: none;
}
.cat {
  text-align: center;
  --color: rgb(224, 120, 0);
  --position: center bottom;
  --width: 100px;
  --height: 5px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
  padding-bottom: 10px;
  font: bold 2.5rem sans-serif;
}

.categories {
  margin-top: 70px;
}

.cate img {
  width: 100%;
}

.cat1 img {
  margin-top: 20px;
  width: 90px;
}
.cat2,
.cat3,
.cat1 {
  background-color: aliceblue;
  box-shadow: 10px 10px 20px gray;
  border-radius: 20px;
}

.cat2,
.cat3,
.cat1 img {
  width: 200px;
}
.cat1 {
  margin: 50px;
  padding-left: 10px;
  text-align: center;
}
.cat3 {
  margin-top: 20px;
  text-align: center;
}
.cat2 {
  text-align: center;
  padding-top: 20px;
}
.about {
  text-align: center;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  margin-bottom: 0%;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 10px 10px 10px gray;
}
.footer {
  color: white;
  margin: 0%;
  margin-left: 290px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
